<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=decive-width, user-scalable=no,
            initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
            <title>Lenguaje</title>
            <!-- <link rel="stylesheet" href="Complementos/boopstrapcss/bootstrap.min.css"> -->

            <!-- boopstrap 4 -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <!-- mi estilo -->
            <!-- <link href="{{url_for('static', filename = 'css/main.css')}}" rel="stylesheet"> -->

            
            <!--Editor de código-->
            <!-- fundamental para que funcione -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/codemirror.min.css" rel="stylesheet" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/codemirror.min.js"></script>

            <!-- tema a elección -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/theme/icecoder.min.css" rel="stylesheet" />

            <!-- librería aceptada a elección -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.38.0/mode/javascript/javascript.min.js"></script>
    </head>

    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="justify-center">JulFreGoDa++</h2>
                    </div>
                </div>
            </div>
        </header>
<hr>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <form method="POST" action="{{url_for('codigo')}}">
                        <label for="exampleFormControlTextarea1">escriba su codigo</label>
                        <textarea class="form-control " id="code" name="code" rows="20">{{codigo}}</textarea>
                        <input type="submit" value="Enviar">
                    </form>
                    </div><!--Este escript es solo para prbar el editor
                        $(function() {
                                $('div#froala-editor').froalaEditor({
                                    toolbarButtons: ['bold', 'italic', 'underline', 'strike'],
                                  
                                    // define new inline styles.
                                    inlineStyles: {
                                        'Big Red': 'font-size: 20px; color: red;',
                                        'Small Blue': 'font-size: 14px; color: blue;'
                                    }
                                });
                            });
                    -->
                    <div class="col-md-6">
                        <form action="">
                            <div class="form-group">
                                <!-- Aqui va el codigo de js -->
                                <label for="exampleFormControlTextarea1">Salida</label>
                                <textarea class="form-control disabled" id="exampleFormControlTextarea1" rows="20" readonly>{{salida}}{{gramaerror}}{{gramagood}}</textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <button type="button" class="btn btn-primary">Ejecutar</button>
                <button type="button" class="btn btn-danger">Cancelar</button>
            </div>
           

        </section>
        <footer>
            <div class="bg-primary">
              <div class="row">
                <div class="col-md-4 text-white" >
                     <h5>ALFREDO ALMARALES MANGA</h5>     
                     <h5>DANIEL VEGA CAMARGO</h5>   
                     <h5>DANIEL FONTALVO ORTIZ</h5>   
                     <h5>JULIO FUENTES MARIO</h5> 
                </div>
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='images/universidad.png') }}">
                </div>
                <div class="col-md-4 text-white">
                  <h4>INGENIERÍA DE SISTEMAS</h4>     
                  <h4>COMPILADORES</h4>   
                  <h4>2020-1</h4>   
                 </div>
                </div>
                </div>
             </footer>


        <script>
            var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
            // muestro las líneas de código
            lineNumbers: true,
            // elijo el tema
            theme: 'icecoder',
            // esto deshabilita la opción de reescribir
            readOnly: false,//true,
            });
        </script>  
    </body>
</html>

